[submodule "flatpak-builder-tools"]
	path = flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "OscGoesBrrr"]
	path = OscGoesBrrr
	url = https://github.com/OscToys/OscGoesBrrr.git
